.row {
  overflow: hidden;
  padding: 0 10px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

[class^='column-'] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  padding: 0 10px;
}

.column-1-12 {
  width: calc(1 / 12 * 100%);
}
.column-2-12 {
  width: calc(2 / 12 * 100%);
}
.column-3-12 {
  width: calc(3 / 12 * 100%);
}
.column-4-12 {
  width: calc(4 / 12 * 100%);
}
.column-5-12 {
  width: calc(5 / 12 * 100%);
}
.column-6-12 {
  width: calc(6 / 12 * 100%);
}
.column-7-12 {
  width: calc(7 / 12 * 100%);
}
.column-8-12 {
  width: calc(8 / 12 * 100%);
}
.column-9-12 {
  width: calc(9 / 12 * 100%);
}
.column-10-12 {
  width: calc(10 / 12 * 100%);
}
.column-11-12 {
  width: calc(11 / 12 * 100%);
}
.column-12-12 {
  width: calc(12 / 12 * 100%);
}